{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST"><div class="field"><label for="somefielduser_id">user_id</label><select id="somefielduser_id" name="user_id">{% for someuser in touslesuser %}<option value="{{ someuser['id'] }}">{{ someuser['username'] }}</option>{% endfor %}</select></div><div class="field"><label for="somefieldpic">pic</label><input type="file" id="somefieldpic" name="pic"/></div><div class="actions"><input type="submit"/></div></form>{% for x in iphoneidentitys %}



<div class="mysuperiphone">
<div class="iphone"></div>
<div class="circle"></div>
<div class="camera"></div>
<div class="speaker"></div>
<div class="screen" style="background-image:url('/static/photos/{{ x['pic'] }}');">
{{ x['countryname'] }}

</div>
<div class="home1"></div>
<div class="home2"></div>
<div class="highlight"></div>
<div class="line"></div>
</div>
{% endfor %}

{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_iphoneidentity"> add one iphoneidentity</a>{% endblock %}
